body, html {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    background-color: #b7b29d;
    background-image: url('light.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 50em 30em;
  }
  .container {
    max-width: 100%;
    padding: 10px;
  }
  #main {
    position: relative;
    top: 30%;
    -ms-transform: translateY(-30%);
    transform: translateY(-30%);
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5em;
  }
  .nav-buttons {
    list-style-type: none;
    padding: 0;
    text-align: center;
    list-style: inside;
  }
  .nav-buttons li {
    display: inline;
    margin: 1%;
  }
  button {
    cursor: pointer;
    padding: 0.75em 10%;
    border: none;
    border-radius: 5em;
    background-color: #6db370;
    color: #000000;
  }
  button:hover {
    background-color: #6db370e8;
  }
  .note-page {
    text-align: center;
    padding: 20px;
  }
  .note-text {
    border: none;
    padding: 20px;
    margin: 20px 0;
    max-width: 100%;
    overflow: auto;
    background-color: #00000049;
    color: #fff;
  }
  p {
    margin: 0;
  }
  header h1 {
    font-size: 2em;
  }
  .note-text {
    padding: 10px;
  }
  #dark-mode-toggle {
    padding: 0.75em 1.5em;
  }
  @media (max-width: 574px) {
    button {
      padding:0.75em 10%;
      margin-left: 1%;
      margin-right: 1%;
      margin-bottom: 2%;
    }
    .nav-buttons li {
      display: inline;
      margin: 1%;

    }
  }
